<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ending new Income</title>
</head>
<body style="background-color: darkkhaki">
<h1>Incoming</h1>
<hr>
<script type="text/javascript">
    document.write(Date());
</script>
<br>
<br>
<hr>
<h2>Ending bonus</h2>

<br>
<hr>
<div class="container mt-5 mb-5">
    <form action="/add_bonus" method="post">
        <input type="text" name="bonus" placeholder="bonus" class="form-control"><br><br>
        <input type="text" name="description" placeholder="add description" class="form-control"><br><br>
        <button type="submit" class="btn btn-success">Add bonus</button> <!-- при натисканні данні будуть відправлятися на сервер-->
    </form>

</div>

</body>
</html>