<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ending new Income</title>
    <style>
        body {
            background-image: url('../static/south.png');
            background-size: cover;
        }
    </style>
</head>
<body>
<h1>Incoming</h1>
<hr>
<script type="text/javascript">
    document.write(Date());
</script>
<br>
<br>
<hr>

<br>
<hr>
<div class="container mt-5 mb-5">
    <form action="/add_salary" method="post">
        <input type="text" name="salary" placeholder="salary" class="form-control"><br><br>
        <input type="text" name="description" placeholder="add description" class="form-control"><br><br>
        <button type="submit" class="btn btn-success">Add salary</button>
    </form>

</div>

</body>
</html>