<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All_Incomes</title>

    <style>
        h2 {
            font-family: 'Comic Sans MS', 'Verdana', sans-serif;
        }

        body {
            background-image: url('../static/egs.png');
            background-size: cover;
        }
        </style>
</head>
<body >

<h2>By day</h2>

<ul>
    <li><h2 th:text="'Salary = '+ ${sal} "></h2></li>
    <li><h2 th:text="'Bonus = ' + ${bon} "></h2></li>
    <li><h2 th:text="'Presents = ' + ${pres} "></h2></li>
    <li><h2 th:text="'Presents = ' + ${anot} "></h2></li>
    <li><h2 th:text="'All = ' + ${all_count} "></h2></li>
</ul>



<a class=" py-2 text-dark" href="http://localhost:8080"><h1>Return on the main</h1></a>
</body>


</html>