<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All_Incomes</title>

    <style>
        h2,h3,h4,h5 {
            font-family: 'Comic Sans MS', 'Verdana', sans-serif;
            color: black;
            text-shadow: 2px 2px 5px red;
        }

        body {
            background-image: url('../../static/woter.jpg');
            background-size: cover;
        }

        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
        </style>
</head>
<body >
<a class=" py-2 text-dark" href="/"><h2>< Back</h2></a>


<table style="width:80%">

    <tr>

<th>
<ul>
    <h2>By day</h2>
    <li><h2 th:text="'Salary = '+ ${salByDay} "></h2></li>
    <a class=" py-2 text-dark" href="/allSalaryByDay"><h5>Look All</h5></a>
    <li><h2 th:text="'Bonus = ' + ${bonByDay} "></h2></li>
    <a class=" py-2 text-dark" href="/allBonusesByDay"><h5>Look All</h5></a>
    <li><h2 th:text="'Presents = ' + ${presByDay} "></h2></li>
    <a class=" py-2 text-dark" href="/allPresentsByDay"><h5>Look All</h5></a>
    <li><h2 th:text="'Another = ' + ${anotByDay} "></h2></li>
    <a class=" py-2 text-dark" href="/allAnotherByDay"><h5>Look All</h5></a>
    <li><h2 th:text="'Count = ' + ${countByDay} "></h2></li>
</ul>
</th>

        <th>
            <ul>
                <h2>By week</h2>
                <li><h2 th:text="'Salary = '+ ${salByWeek} "></h2></li>
                <a class=" py-2 text-dark" href="/allSalaryByWeek"><h5>Look All</h5></a>
                <li><h2 th:text="'Bonus = ' + ${bonByWeek} "></h2></li>
                <a class=" py-2 text-dark" href="/allBonusesByWeek"><h5>Look All</h5></a>
                <li><h2 th:text="'Presents = ' + ${presByWeek} "></h2></li>
                <a class=" py-2 text-dark" href="/allPresentsByWeek"><h5>Look All</h5></a>
                <li><h2 th:text="'Another = ' + ${anotByWeek} "></h2></li>
                <a class=" py-2 text-dark" href="/allAnotherByWeek"><h5>Look All</h5></a>
                <li><h2 th:text="'Count = ' + ${countByWeek} "></h2></li>
            </ul>
        </th>
        <th>
            <ul>
                <h2>By month</h2>
                <li><h2 th:text="'Salary = '+ ${salByMonth} "></h2></li>
                <a class=" py-2 text-dark" href="/allSalaryByMonth"><h5>Look All</h5></a>
                <li><h2 th:text="'Bonus = ' + ${bonByMonth} "></h2></li>
                <a class=" py-2 text-dark" href="/allBonusesByMonth"><h5>Look All</h5></a>
                <li><h2 th:text="'Presents = ' + ${presByMonth} "></h2></li>
                <a class=" py-2 text-dark" href="/allPresentsByMonth"><h5>Look All</h5></a>
                <li><h2 th:text="'Another = ' + ${anotByMonth} "></h2></li>
                <a class=" py-2 text-dark" href="/allAnotherByMonth"><h5>Look All</h5></a>
                <li><h2 th:text="'Count = ' + ${countByMonth} "></h2></li>
            </ul>
        </th>
        <th>
            <ul>
                <h2>By year</h2>
                <li><h2 th:text="'Salary = '+ ${salByYear} "></h2></li>
                <li><h2 th:text="'Bonus = ' + ${bonByYear} "></h2></li>
                <li><h2 th:text="'Presents = ' + ${presByYear} "></h2></li>
                <li><h2 th:text="'Another = ' + ${anotByYear} "></h2></li>
                <li><h2 th:text="'Count = ' + ${countByYear} "></h2></li>
            </ul>
        </th>
    </tr>
</table>

</body>


</html>